@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background: #f1f2f6;
}

._container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 20px;
}
@media (max-width: 1000px) {
  ._container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

.section__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 10px 10px;
}
@media (max-width: 991.98px) {
  .section__list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 767.98px) {
  .section__list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.section__list__item {
  max-width: 100%;
  background-color: #fff;
  text-align: center;
  font-size: 18px;
  padding: 20px 15px;
}
.section__list__item__img {
  display: block;
  margin: 15px auto;
  height: 120px;
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.section__list__item__title {
  font-size: 22px;
  font-weight: 700;
}
.section__list__item__price {
  font-size: 20px;
  color: #24c486;
  font-family: Roboto, sans-serif;
}
.section__list__item__action {
  font-size: 20px;
  font-weight: 700;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 10px 10px;
  margin-top: 25px;
}
.section__list__item ._btn {
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 3px;
  color: #fff;
  border: none;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: manipulation;
  font-size: 16px;
  text-align: center;
}
.section__list__item__sell {
  background: #f1f2f6;
  color: #333 !important;
}
.section__list__item__sell.active {
  background: linear-gradient(180deg, #f53b82, #f53b57);
  color: #fff !important;
}
.section__list__item__quantity {
  padding: 9px 12px;
  border-radius: 3px;
  border: 1px solid #b2bec3;
  color: #333;
  font-size: 16px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.section__list__item__buy {
  background: linear-gradient(180deg, #2ecc71, #1abc9c);
}

.section__wrapper__bill {
  background: #fff;
  padding: 30px 20px;
  text-align: center;
}
.section__wrapper__bill__img {
  width: 125px;
  height: 125px;
  margin: 10px auto 25px;
  border-radius: 125px;
}
.section__wrapper__bill__title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  line-height: 1.3em;
}
.section__wrapper__header {
  color: #fff;
  background-color: #2ecc71;
  background: linear-gradient(180deg, #2ecc71, #1abc9c);
  padding: 20px;
  margin: 10px 0;
  font-family: Roboto, sans-serif;
  text-align: center;
  top: 0;
  position: sticky;
  z-index: 9999;
}
.section__wrapper__header__total {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
}
.section__wrapper__receipt {
  margin-top: 10px;
  background: #fff;
  padding: 15px 15px 30px;
}
.section__wrapper__receipt__title {
  text-align: center;
  font-size: 28px;
  padding: 15px 15px 25px;
  font-weight: 700;
  margin: 0;
}
.section__wrapper__receipt__item {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.section__wrapper__receipt__item__title {
  margin: 0;
  width: 170px;
  text-align: left;
}
.section__wrapper__receipt__item__quantity {
  margin: 0;
  text-align: left;
  width: 45px;
}
.section__wrapper__receipt__item__price {
  margin: 0;
  text-align: right;
  width: 75px;
  color: #24c486;
  font-weight: 500;
}/*# sourceMappingURL=variables.css.map */